.git
.github
.pytest_cache
.ruff_cache
.mypy_cache
.coverage
.coverage.*
.env
.env.*
.venv
__pycache__/
*.py[cod]
*.log
*.sqlite3
*.db
build/
dist/
htmlcov/
node_modules/
tests/
test.md
testmp.md
README.md
